html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  --nav-load-time: 350ms;
  --nav-link-load-time: 500ms;
  --article--load-delay: calc(var(--nav-load-time) + var
  (var(--nav-link-load-time)))
}

html {
  scroll-behavior: smooth;
}

.social-icon {
  color:#000000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.toplinks:hover {

  color: #000000;
  transition: .3s ease-in-out;

}

.nav-container {
  background: #FF0000;
  animation: nav-load var(--nav-load-time) ease-out ;
}

.nav-container a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  font: 1000;
}
header .logo {
  color: black;
  font-weight: bold;
  font-size: larger;
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}
header ul {
  display: flex;
  font-size: medium;
}
header ul a {
  display: block;
  padding: 0 1em;
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}

.social-header, .hero-design {
  display: none;
}

.hero {
  height: 300px;
  background: #FF0000;
  color: white;
  display: grid;
  text-align: center;
  padding: 3em;
  font-size:larger;
  animation: nav-load 500ms ease-out;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 150px;
  font-weight: bold;
  color: white;
  font-variant: normal;
}
.meet span {
  margin-top: 1em;
  margin-right: 0em;
}

.point-down {

  font-size: ;
  padding-bottom: 50px;
  margin-bottom: 50px;

}

section {
  padding: 4em 2em;
  text-align: center;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(149, 149, 149);
  letter-spacing: 0.2em;
  font-size: 1em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 2em;
  margin-top: -0.4em;
  display: block;
  border-radius: 1em;
}

.featured-title a img {
  border-radius: 5em;
}

.featured.desc {
  color: #000000;
  margin-bottom: 3em;
  margin-right: 5em;
  font-size: 10em;
  line-height: 1.8em;
  font-weight: 500;
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
}

nav li:first-child {

}

.featured-desc {
  margin-right: 23px;
  margin-bottom: 25px;
}

.skills {
  background: #FF0000;
  padding-top: -500000px;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}
.skills-container ul li .icon-container {
  display: grid;
  place-content: center;
  margin: 2em auto;
}
.skills-container ul li .icon-container.one {
  width: 80px;
}
.skills-container ul li .icon-container.two {
  width: 80px;
}
.skills-container ul li .icon-container.three {
  width: 80px;
}
.skills-container ul li .skill-title {
  font-weight: bold;
}
.skills-container ul li .featured-desc {
  margin-bottom: 2em;
  border-radius: 1em;
}

.featured a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.video-container {
  background: #f0f0f0;
  padding: 4em;
  border-radius: 1em;
  margin-top: 2em;
  height: auto;
}

.iframe-container{
  margin: 45px auto;
  position: relative;
  max-width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-text {

  background-color: white;
  padding: 1px 10px 30px 22px;
  border-radius: 15px;

}

.video-text-head {

  font-weight: bold;
  font-size: 2em;

}

.portfolio {
  background: rgb(255, 255, 255);
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio {
    text-align: left;
  }

  .featured, .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left, .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}

.img-personal {
  max-width: 200px;
}

/* FOOTER */

.footer {
  background: #f0f0f0;
  color: #f0f0f0;
  height: 600px;
  position: center;
}

.container{
	position: relative;
	width: relative;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: relative;
	width: auto;
	height: auto;
	left: 0;
	top: 0;
	z-index: 1;
}

.contact-box{
	max-width: auto;
	display: contents;
	grid-template-columns: auto;
	align-items: center;
	text-align: relative;
}

.contact-box-2 {
	display: contents;
	grid-template-columns: auto;
  float: none;
	background-color: rgb(255, 255, 255);
}

h2{
	position: center;
	padding: 0 0 0px;
	margin-bottom: 0px;
}

h2:after{
	content: normal;
    position: relative;
    left: auto;
    bottom: 0;
    height: 4px;
    width: 50%;
    border-radius: 0px;
    background-color: #ff0000;
}

.field{
	width: 80%;
	border: 0px solid white;
	outline: none;
	background-color: rgba(208, 208, 208, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1rem;
	margin-bottom: 22px;
	transition: .3s;
  height: 50px;
  float: none;
}

.submission-container {

  margin-top: 20px;

}

.field-hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 50%;
	padding: 1rem 1rem;
	background-color: rgb(172, 172, 172);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: auto;
	transition: .3s;
}

.btn:hover{
    background-color: #ff0000;
}

.field:focus{
    border: 0px solid rgba(255, 255, 255, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 300px){
	.contact-box{
		grid-template-columns: auto;
	}
}

.footer .footer-content {
  color: rgb(0, 0, 0);
  height: 600px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 10;
  padding: 25px;
  border: 0px solid white;
  text-align: center;
}

.footer .footer-content h1, 
.footer .footer-content h2 {
  color: black;
  text-align: center;
}

.footer .footer-content .about h1 span {
  color: rgb(255, 52, 52) ;text-align: center;

}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
  text-align: center;
}


.footer .footer-content .about .top-send {
  border-radius: 5px solid white;
  display: block;
  font-size: 1em;
  color-scheme: red;
  font-weight: bolder;
}

h1 {
  animation: article-load 350ms ease-in ;
  (--article--load-delay)
}

p {
  animation: article-load 500ms ease-in ;
  (--article--load-delay)
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);

  }
}

@keyframes nav-link-load {
  0% {
    transform: scale(0%);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);

  }
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.about-me {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  line-height: 24px;
}

div.contact-box-2 {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.footer .footer-bottom {
  background: #ff0000;
  color: rgb(0, 0, 0);
  align-items: baseline;
  height: 50px;
  width: 100%;
  text-align: center;
  text-decoration-color: #ffffff;
  position: static;
  bottom: 0px;
  left: 0px;
  padding-top: 18px;
  font-size: 80%;
  font-weight: 10px;
  letter-spacing: 2px;
}

.contact .container {
  float: middle;
}

body {

  margin: 1;
  padding: 0;
  box-sizing: border-box;

}

.container {



}


.container .image-container {

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;

}

.container .image-container .image {

  cursor: auto;
  overflow: hidden;
  border-radius: 15px;

}

.container .image-container .image img {

   height: 100%;
   width: 100%;
   object-fit: cover;
   transform: .3s linear;
   border-radius: 15px;

}

.image-container .image:hover img {

  transform: scale(1.03);
  transition: .5s;
  border-radius: 15px;

}

.container .popup-image {

  position: fixed;
  top: 0; left: 0;
  background: rgba(33, 33, 33, 0.9);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;

}

.container .popup-image span{

  position: absolute;
  top: 0; right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(214, 214, 214);
  cursor: auto;
  z-index: 100;
  border-radius: 15px;
  border: 50px;
  padding: 12px 12px 12px 12px;

}

.container .popup-image span:hover {

  color: red;
  transition: .5s;

}

.container .popup-image img {

  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 750px;
  object-fit: cover;

}


.x {

  color: red;

}


@media (max-width:768px){

  .container .popup-image img {

      width: 95%;

  }

}



/* MEDIA QUERIES */
