body {
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }body {
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    a {
        text-decoration: none;
    }
    img {width: 100%;}
    
    .nav-container {
        background: #FF0000;
    
        a {
            color:white;
        }
    }
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 2em;
        
        .logo {
            color: black;
            font-weight: bold;
        }
    
            ul {
                display: flex;
    
            a {
                display: block;
                padding: 0 1em;
            }
        } 
     }
     .social-header, .hero-design {
        display: none;
     }
    
     .hero {
        background: #FF0000;
        color: white;
        display: grid;
        text-align: center;
        padding: 3em;
        font-size: larger;
        font-variant: small-caps;
     } 
    
     .meet {
        display: flex;
        margin: 0 auto;
        width:  150px;
        font-weight: bold;
        color: white;
        font-variant: normal;
    
        span {
            margin-top: 1em;
            margin-right: 0em;
        }
     }
    
    section {
        padding: 4em 2em;
        text-align: center;
    }
    
    .subtitle {
        text-transform: uppercase;
        font-weight: bold;
        color: black;
        letter-spacing: .2em;
        font-size: 1em;
    }
    
    .featured-title {
        color: black;
        font-weight: bold;
        font-size: 2em;
        margin-top: -.4em;
        display: block;
        border-radius: 1em;
    }
    
    .featured-title a img {
        border-radius: 1em;
    }
    
    .featured.desc {
        color: #3B3B3B;
        margin-bottom: 3em;
        font-size: 1em;
        line-height: 1.8em;
        font-weight: 500;
    }
    
    .skills {
        background: #ff0000;
    }
    
    .skills-container ul li {
        background: white;
        padding: 2em;
        border-radius: 1em;
        margin-bottom: 1em;
        .icon-container {
            height: 100px;
            display: grid;
            place-content: center;
            margin: 0 auto;
    
            &.one {
                width: 100px;
            }
            &.two {
                width: 100px;
            }
            &.three {
                width: 100px;
            }
        }
    
        .skill-title {
            font-weight: bold;
        }
        .featured-desc {
            margin-bottom: 2em;
            border-radius: 1em;
        }
    }
    
    .featured a img {
        border-radius: 1em;
        margin-bottom: 2em;
    }
    
    .video-container {
        background: #e5e5e5;
        padding: 4em;
        border-radius: 1em;
        margin-top: 2em;
        height: 1400px;
    }
    
    .portfolio {
        background: rgb(255, 255, 255);
    }
    
    .portfolio-container a img {
        border-radius: 1em;
        margin-bottom: 2em;
    }
    
    
    
    @media only screen and (min-width: 800px) {
    
        .featured, .portfolio {
            text-align: left;
        }
        .featured, .portfolio-container {
            display: grid;
            grid-template-columns: 40% auto;
        }
    
        .left, .portfolio-left {
            display: grid;
            place-content: center;
        }
    
        .right {
            margin-left: 2em;
            margin-top: 1em;
        }
    
        .skills {
            margin-top: -5em;
            margin-bottom: -7em;
            padding-top: 7em;
        }
    
        .skills-container ul {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 1em;
        }
    
        .portfolio {
            padding-top: 7em;
        }
        .portfolio-container img {
            margin-left: 2em;
        }
    
    }
    
    @media only screen and (min-width: 1050px) {
        .hero {
            height: 90vh;
        }
    
        .nav-container {
            display: grid;
            grid-template-columns: 66% auto;
            background: unset;
    
            header {
                background: #FF0000;
            }
        }
        header {
            padding: 2em 2em 2em 4em;
        }
        .social-header {
            padding: 2em 4em 2em 0;
        }
        section {
            padding: 4em;
        }
    
        .social-header {
            display: block;
    
            ul {
                display: flex;
                justify-content: space-between;
                width: 7em;
                float: right;
    
                img {
                    width: 20px;
                }
            }
        }
    
        .hero {
            display: grid;
            grid-template-columns: 66% auto;
            background: unset;
            padding: 0;
    
            .content {
                background: #FF0000;
                padding: 6em 8em 6em 4em;
                text-align: left;
    
                h1 {
                    font-size: 3em;
                    line-height: 1.2em;
                }
            }
        }
        .meet {
            margin: unset;
        }
    
        .hero-design {
            display: unset;
            margin-left: -50%;
            margin-top: 15%;
            width: 100%;
        }
    
        .portfolio img {
            float: right;
            max-width: 500px;
        }
    }
    
    @media only screen and (min-width: 1250px) {
        header {
            padding: 2em 2em 2em 10em;
        }
        .social-header {
            padding: 2em 10em 2em 0;
        }
        section {
            padding: 10em 10em 4em 10em;
        }
        .hero .content{
            padding: 6em 8em 6em 10em
        }
    }
    
    @media only screen and (min-width: 1550px) {
        header {
            padding: 2em 2em 2em 20em;
        }
        .social-header {
            padding: 2em 20em 2em 0;
        }
        section {
            padding: 10em 20em 4em 10em;
        }
        .hero .content{
            padding: 6em 8em 6em 20em
        }
    }